<html>
	<head>
		<title>ITG Lan</title>
		<link rel="stylesheet" type="text/css" href="index.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="itglogoSquare.png"/>
	</head>
	<body>
		<div id="navbar">
			<img src="itglogo.png">
			<a class = "tab" href="index"><p>Home</p></a>
			<a class = "tab" href="rules"><p>Regler</p></a>
			<a class = "tab" href="booking"><p>Platsbokning</p></a>
			<a class = "tab" href="https://discord.gg/PWFHsDu" target="_blank"><p>Discord</p></a>
			<a class = "tab" href="lan_lapp.docx">
				<p>Lan blankett <i class="material-icons">file_download</i></p>
			</a>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/v-viewer"></script>
		<div id="main">
			<%= yield %>
		</div>
		<script type="module" src="app.js"></script>
	</body>
</html>
